.cc-highlight {
    background-color: #222222;
}

.cc-shadow {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.storiesblurbs {
    text-align: left;
}

.formtext {
    width: 100%;
    height: 100px;
}